<form [formGroup]="listForm">
    <div style="height: 50px; width: 100vw; background-color: #AD7FFB; border-color: white !important; display: flex; align-items: center; justify-content: space-between;">
        <span nz-icon nzType="shopping-cart" nzTheme="outline" style="font-size: 2em; color: white; margin-left: 10px;" (click)="navigateToShoppingLists()"></span>
        <input formControlName="title" style="margin-left: 10px; margin-right: 10px; background-color: #fec8dc; color: rgb(109, 0, 111); font-weight: bold;" nz-input placeholder="Basic usage">
        <span nz-icon nzType="home" nzTheme="outline" style="font-size: 2em; color: white; margin-right: 10px;" (click)="navigateHome()"></span>
    </div>
    <div *ngFor="let item of list.getItems()">
        <span>{{item.name}}</span>
    </div>
</form>