<div *ngIf="shoppingListForm" [formGroup]="shoppingListForm">
    <div class="shopping-list-edit-top-bar">
        <div>
            <span
                class="home-button"
                nz-icon
                nzType="dollar-circle"
                nzTheme="outline"
            >
            </span>
        </div>
        <div class="shopping-list-title__div">
            <span class="shopping-list-title__text">
                <input type="text" formControlName="title" />
            </span>
        </div>
    </div>
    <div formArrayName="items">
        <div *ngFor="let item of itemsArray.controls; index as itemsIndex" [formGroupName]="itemsIndex">
            <input form type="checkbox" name="" id="" formControlName="check">
            <input type="text" formControlName="name">
            <input type="text" formControlName="description">
            <input type="text" formControlName="quantity">
        </div>
    </div>
    <button (click)="addNewItem()">Add +</button>
</div>
